* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #333333;
    font: 14px/30px Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
}

strong {
    font-weight: 800;
}

br {
    line-height: 1.6;
}

h2 a {
    color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}
h2 a:hover, h2 a:active {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #168DD9;
}

article {
    border-left: 15px solid #000000;
    border-right: 15px solid #000000;
    width: 100%;
    outline: none;
    padding: 1em 1em;
    padding-bottom: 3rem;
}

article h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #ff0000;
    margin: 1em 0em;
    font-size: large;
    border-bottom: #dadada solid;
}

article p a{
    text-decoration: underline;
    color: #ff0000;
}


li svg{
    display: none;
}

.cena-celkem{
    margin-bottom: 6rem;
}

.float-right{
    text-align: right;
}

footer {
    position: relative;
    width: 100%;
    background-color: #ffffff;
  }

.skryto{
    display: none;
}

#kriz{
    cursor: pointer;
}

.cena{
    font-weight: 800;
    font-size: large;
    float: right;
}
.cena::after{
    font-weight: 800;
    content: " Kč";
}

#content{
    margin: 2em;
}
#content h2{
    font: bold 14px/30px Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-indent: 1em;
}

#searchbox {
    width: 100%;
    margin: 2px auto;
    display: block;
}



.cat_list {
    padding: 10px;
}

.center {
    margin: auto;
    width: 85%;
}

.dropdown {
    display: none;
}



.container {
    display: flex;
    overflow: hidden;
    border-top: 15px solid #000000;
    border-bottom: 15px solid #000000;
    border-right: none !important;
    background-color: #ffffff;
    outline: none;
}

nav.left {
    max-width: 16em;
}

.section2 {
    min-width: 14em;
    background-color: #ffffff;
    border: none !important;
    outline: none;
}

nav.top {
    position: relative;
    background: #ff0000 url("../head-11.png") no-repeat;
    height: 130px;
    width: 100%;
}

.acrt {
    font-size: x-small;
}

label.logo {
    font-size: 35px;
    line-height: 130px;
    padding: 0 130px;
    font-weight: bold;
}

nav ul {
    float: right;
    width: 100%;
    background-color: #ffffff;
}

nav ul li {
    display: inline-block;
    line-height: 25px;
    margin: 0 0.4em;
}

nav.top ul a li {
    color: rgb(0, 0, 0);
    padding: 2px 3px;
    border-radius: 3px;
    font: bold 14px/30px Helvetica, Arial, sans-serif;
    box-shadow: 0px 1px 1px #dadada;
}

nav.top ul a li:hover {
    background-color: #ebebeb;
}

a.active,
a:hover {
    color: #ff0000;
    background-color: rgb(255, 248, 253);
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 20px 30px;
}

/* Style label tag */
.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.hamb {
    display: none;
}

.shopping-cart {
    color: #ffffff;
    position: fixed;
    right: 7.5%;
    top: 8.7em;
    background-color: #ff0000;
    padding: 1rem;
    padding-bottom: .5rem;
    z-index: 20000;
    box-shadow: #000000;
    border-radius: 10px;
    transition: 5s;
    background-color: #ff0000;
}

.shopping-cart:hover{
    background-image: linear-gradient(#ff0000, #7e0000);
}

.black {
    position: relative;
    width: 100%;
    height: auto;
    background: #000000;
}

.spodni {
    height: 100%;
    width: 100%;
    background: #000000;
}

.adresa {
    text-align: left;
    padding: 0.4em;
    font: bold 12px Verdana, "Geneva", Tahoma, sans-serif;
}

.adresa a{
    font: bold 14px Helvetica, Arial, sans-serif;
    color: #ff0000;
}

.adresa-menu{
    text-align: center;
    padding: 0.4em;
    font: bold 12px Verdana, "Geneva", Tahoma, sans-serif;
}
.adresa-menu a{
    font: bold 14px Helvetica, Arial, sans-serif;
    color: #ff0000;
}

.search {
    margin-bottom: 10px;
}

h7.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.lbox {
    /* flex: 1;
    flex-direction: column; */
    /* explanation below */

    background-color: rgb(255, 255, 255);
    border-bottom-color: #000000;
    border-bottom-width: 15px;
    border-bottom-style: solid;
}

.lbox .vyhledavani {
    display: block;
    visibility: visible;
}

.left-box form {
    display: inline;

}

.left-box {
    padding: 10px;
}

.nazev_box {
    position: relative;
    background-color: #ff0000;
    width: 100%;
}

h7 {
    padding: auto;
    color: #ffffff;
    text-align: center;
}

.cat_box {
    display: none;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border-color: #ff0000;
    outline: #ffe500;
    border-radius: 5px;
}

.pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 4em;
}

.pager a{
    text-decoration: underline;
}
.para-flds a:hover{
    text-decoration: underline;
}
.para {
    flex: auto;
    padding: .4em 1em;
    margin: 0em .7em;
    background-color: rgb(255, 255, 255);
    border: #dbdbdb;
    border-width: 1px;
    border-left-style: solid;
    border-bottom-style: solid;
    box-shadow: 1px 1px 1px 1px #e2e2e2;
    border-radius: 5px;
    width: 20rem;
}

/* .para:hover {
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #dadada;
} */
nav.left{
    width: 100%;
}
.zbozi {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 5em;
}

.tlacitko-objednavka{
    float: right;
    margin: 1em;
    padding: .5em;
    opacity: 0.8;
    transition: 0.3s;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    border: 2px solid #ff0000;
    font-weight: 300;
}

.tlacitko-objednavka:hover {
    opacity: 1;
    border: 2px solid #ff0000;
    color: #feffd1;
}

.para-tit a h2{
    font-size: 1.2em;
    font-weight: 600 !important;
}
.para-price {
    margin-bottom: 1em;
}

.para-price strong,
.para-price span,
h3 a {
    color: #ff0000;
    font-size: large;
    padding-right: 1rem;
}

footer p {
    text-align: center;
}

.do-kosiku {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    font-weight: 300;
}

.do-kosiku:hover {
    background-color: #ffe500;
    color: #000000;
}

.number-items-cart {
    font-size: 14px;
    background: rgb(255, 255, 255);
    border-radius: 25%;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 0px;
}

nav a:hover {
    background-color: transparent;
}

.adresa-menu{
    display: none;
}

.aktualni-offs{
    font-weight: 800;
}

.obrazek-zbozi{
    padding: 1rem;
    box-shadow: 5px 8px 8px #dadada;
    border-radius: 10px;
    margin: .5rem;
    margin-left: 0rem;
    display: block;
}

.kosik-container {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2rem;
    margin-right: 2rem;
}
.kosik-container ul{
    width: 100%;
}
.obrazek-kosik{
    border-radius: 10px;
    width: 7rem;
    margin-right: 2rem;

}

#kriz {
    float: right;
}

ul.cat_list li{
    display: block;
    padding: 0;
}
ul.cat_list li a{
    font: 500 14px/30px Helvetica, Arial, sans-serif;
    line-height: 15px;
    padding-left: 0;
}
ul.cat_list a li:hover {
    background-color: #ebebeb;
}
ul.cat_list a li {
    box-shadow: 0px 1px 1px #dadada;
    padding-top: 3px;
    width: 100%;
    padding-left: 3px;
    margin-left: 0px;
}

.kosik {
    width: 100%;
}

.kosik section {
    display: flex;
    border-bottom: 1px solid #dadada;
    margin-bottom: 1rem;
}

/* MEDIA 920 */
/* MEDIA 920 */
/* MEDIA 920 */
/* MEDIA 920 */

@media (max-width: 990px) {
    footer {
        position: fixed;
        bottom: 0em;
        left: 0;
        margin: auto;
        width: 100%;
        background-color: #ffffff;
    }
    

    body {
        zoom: 110%;
    }

    article {
        border-right: none;
    }

    li svg{
        display: inline;
    }

    ul.top-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: azure;
        top: 130px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1000;
    }

    .center {
        width: 100%;
    }

    nav ul li {
        display: block;
        padding-top: 1rem;
    }

    .hamb {
        display: initial;
    }

    label.hamb.hamb-nav {
        display: inline-block;
        float: none;
    }


    aside.section2 {
        display: none;
        visibility: none;
    }

    #side-menu:checked~ul {
        left: 0;
    }

    .lbox {
        width: 100%;
    }

    .section2,
    footer {
        border-top: 15px solid #000000;
    }

    .shopping-cart {
        right: 0rem;
        border-bottom-right-radius: 0%;
    }

    .adresa-menu{
        display: block;
    }

    nav.top {
        max-height: none;
        top: 0;
        position: fixed;
        float: right;
        z-index: 1000;
    }

    .container {
        position: absolute;
        top: 9rem;

    }

}

/* MEDIA 768px */
/* MEDIA 630px */
/* MEDIA 630px */
/* MEDIA 630px */

@media (max-width: 37.25rem) {
    .container {
        position: absolute;
        margin-top: 9rem;
        z-index: -100000;
        overflow: clip;
    }

    nav.left{
        max-width: 100%;
    }

    .dropbtn {
        background-color: #fff;
        color: #ff0000;
        border-color: #d69191;
        border-radius: 5px;
        border-width: 0.1px;
        padding: 0.4em;
        font: bold 14px Helvetica, Arial, sans-serif;
        width: 100%;
    }

    .dropdown {
        position: relative;
        display: block;
        transform: translateY(-0%);
    }

    .dropdown-content {
        display: none;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 0px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        position: relative;
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #ff0000;
        color: #fff;
        width: 100%;
        transition: 0.4s ease-in-out;
    }


    .container {
        flex-direction: column;
        width: 100%;
    }

    article {
        border: none;
    }

    .center {
        width: 100%;
    }

    nav ul li {
        display: block;
        padding-top: 1rem;
    }

    .hamb {
        display: initial;
    }

    label.hamb.hamb-nav {
        display: inline-block;
        float: none;
    }

    #side-menu:checked~ul {
        left: 0;
    }

    .lbox {
        width: 100%;
    }

    .section2,
    footer {
        border-top: 15px solid #000000;
    }

    .shopping-cart {
        right: 0rem;
        border-bottom-right-radius: 0%;
    }

    aside {
        min-width: 100%;
    }

    .nav.top {
        max-height: none;
        top: 0;
        position: fixed;
        float: right;
        width: fit-content;
    }

    nav.left {
        flex-direction: column;
    }

    .cat_box {
        display: block;
    }

    nav.top {
        position: fixed;
        background: #ff0000 url("../a11.png") center no-repeat;
    }

    #cat_container {
        display: none;
    }
    .shopping-cart {
        position: absolute;
        right: 1rem;
        top: 5rem;
        background: none;
    }

    .container{
        position: absolute;
        top: 0rem;
    }
}